.newsItem.-row
  .newsItem__wrapper
    .newsItem__column
      a.newsItem__link(href="#")
        img.newsItem__img(src="./assets/images/newsList/meetup.png")
    .newsItem__column
      .newsItem__contentBox
        .newsItem__contentItem
          span.newsItem__date 20/12/20
        .newsItem__contentItem
          a.newsItem__link(href="#")
            span.newsItem__title Nawet 480 tys. Ukraińców nie przyjedzie do Polski do pracy
        .newsItem__contentItem
          p.newsItem__text Spowodowane koronawirusem zamknięcie granic wstrzymało migrację zarobkową. Do tej pory co miesiąc do Polski przejeżdżało ok. 160 tys. pracowników z Ukrainy. Jeżeli stan epidemiczny potrwa do czerwca, granic nie przekroczy nawet 480 tys. Ukraińców. Eksperci Personnel Service wskazują jednak, że obecnie zapotrzebowanie na pracowników, i to nie tylko ze Wschodu, zdecydowanie spadło.
        .newsItem__contentItem.-btn
          a.newsItem__btn(href="#") Zobacz