.newsItem
  .newsItem__box
    .newsItem__item
      img.newsItem__img(src="./assets/images/newsList/meetup.png")
    .newsItem__item
      span.newsItem__date 20/12/20
    .newsItem__item
      span.newsItem__title Nawet 480 tys. Ukraińców nie przyjedzie do Polski do pracy
    .newsItem__item
      p.newsItem__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .newsItem__item
      a.newsItem__btn(href="#") Zobacz
