.languagesSwitcher
  select.languagesSwitcher__select
    option.languagesSwitcher__option(value="") Change language
    option.languagesSwitcher__option(value="http://localhost:9000/build/main.html?lang=pl") PL
    option.languagesSwitcher__option(value="http://localhost:9000/build/main.html?lang=en") EN
    option.languagesSwitcher__option(value="http://localhost:9000/build/main.html?lang=de") DE
