section.statsTimeLine.bgRed
    .statsTimeLine__container
        .statsTimeLine__timeline.-hiddenOnDesktops
        img(src='./assets/dataTimeline/dataTimeLine.png').statsTimeLine__timelineImage.-hiddenOnMobiles
