extends ./../components/layout/_layout

block content
  include ../components/bannerMain/bannerMain-about
  .positionRelative.-noMarginTop
    include ../components/contentPanel/contentPanel-aboutUs-search
    include ../components/iconsPanel/iconsPanel-aboutUs-whoWeRecruit
    include ../components/iconsPanel/iconsPanel-aboutUs-whatMarksUsOut
    include ../components/contentPanel/contentPanel-aboutUs-ourStory
    include ../components/contentPanel/contentPanel-aboutUs-trustedPartner
    include ../components/iconsPanel/iconsPanel-aboutUs-asPartner
    include ../components/contentPanel/contentPanel-aboutUs-ourValues
    include ../components/ourStory/ourStory
    include ../components/contentPanel/contentPanel-aboutUs-knowledge
