extends ./../components/layout/_layout

block content
  include ../components/bannerMain/bannerMain-contact
  .positionRelative.-noMarginTop
    include ../components/contentPanel/contentPanel-contact

