extends ./../components/layout/_layout

block content
  include ../components/bannerMain/bannerMain-employee
  .positionRelative.-noMarginTop
    include ../components/contentPanel/contentPanel-employee-mapMarker
    include ../components/contentPanel/contentPanel-employee-fromPoland
    include ../components/contentPanel/contentPanel-employee-ukrainian
    include ../components/contentPanel/contentPanel-employee-referFriend
    include ../components/contentPanel/contentPanel-employee-jobMarketNews
