extends ./../components/layout/_layout

block content
  include ../components/bannerMain/bannerMain-investor
  .positionRelative.-noMarginTop
    include ../components/contentPanel/contentPanel-investor-essentials
    include ../components/contentPanel/contentPanel-investor-staff
    include ../components/contentPanel/contentPanel-investor-reports
    include ../components/contentPanel/contentPanel-investor-authorities
