extends ./../components/layout/_layout

block content
  include ../components/bannerMain/bannerMain-submitSuccess
  .positionRelative.-noMarginTop
    include ../components/contentPanel/contentPanel-main-whatWeCanDo
    include ../components/iconsPanel/iconsPanel-employee-services
    include ../components/contentPanel/contentPanel-main-people
    include ../components/contentPanel/contentPanel-main-trades
    include ../components/iconsPanel/iconsPanel-employee-findYourCraft
    include ../components/contentPanel/contentPanel-main-departments
    include ../components/chairMan/chairMan
    include ../components/recruitmentRequirements/recruitmentRequirements
    include ../components/pleaseContact/pleaseContact
    include ../components/contactAgency/contactAgency
    include ../components/calendarPanel/calendarPanel
    include ../components/backgroundSector/backgroundSector
