extends ./../components/layout/_layoutSecondMenu

block content
  //- include ../components/newsList/newsList
  include ../components/newsList/newsListColumn
  include ../components/backgroundSector/backgroundSector
  include ../components/contactPanel/contactPanel
