extends ./../components/layout/_layout

block content
  include ../components/bannerMain/bannerMain-news
  .positionRelative.-noMarginTop
    include ../components/contentPanel/contentPanel-news
    include ../components/iconsPanel/iconsPanel-aboutUs-blur
    //include ../components/contentPanel/contentPanel-news-barometer
    include ../components/contentPanel/contentPanel-news-barometer-image
    //include ../components/contentPanel/contentPanel-news-reports
    //include ../components/contentPanel/contentPanel-news-comments
    //include ../components/chairMan/chairMan
    include ../components/newsList/newsList
    include ../components/contactPanel/contactPanel
