extends ../components/layout/_layoutSecondMenu

block content
  include ../components/contentPanel/contentPanel-services-partTimeJob
  include ../components/contentPanel/contentPanel-services-outsourcingProcess
  include ../components/contentPanel/contentPanel-services-outsourcingWorkers
  include ../components/contentPanel/contentPanel-services-outsourcingIT
  include ../components/contentPanel/contentPanel-services-recruitingSpecialists
  include ../components/contentPanel/contentPanel-services-outplacement
  include ../components/contentPanel/contentPanel-services-HRconsulting
