.contactPanel
  .contactPanel__content
    .contactPanel__leftBox
      .contactPanel__textHeader Kontakt
        br
        |  dla mediów
        img(src="./assets/images/newsPage/separator.jpg").contactPanel__separator
    .contactPanel__rightBox
      .contactPanel__contactDataBox
        img(src="./assets/images/newsPage/person.jpg").contactPanel__personImage
        .contactPanel__contactData
          .contactPanel__name Monika Banyś
          .contactPanel__text Rzecznik prasowy
      .contactPanel__contactDataBox
        img(src="./assets/images/newsPage/phone.svg").contactPanel__contactImage
        .contactPanel__phone.-red
          a(href="tel:+48500140263") +48 500 140 263
      .contactPanel__contactDataBox
        img(src="./assets/images/newsPage/plane.svg").contactPanel__contactImage
        .contactPanel__mail
          a(href='mailto:#') monika.banys@zoom-bsc.pl
