.recruitmentRequirements.bgLightGray.textDark.shadow
  .recruitmentRequirements__content
    .recruitmentRequirements__wrapper
      .recruitmentRequirements__main
        .recruitmentRequirements__title
          p Kogo rekrutujemy?
        .recruitmentRequirements__whos
          include ../recruitmentReqItem/recruitmentReqItem
          include ../recruitmentReqItem/recruitmentReqItem
          include ../recruitmentReqItem/recruitmentReqItem
          include ../recruitmentReqItem/recruitmentReqItem
          include ../recruitmentReqItem/recruitmentReqItem
          include ../recruitmentReqItem/recruitmentReqItem



