.thanksPage(style="background-image:url('./assets/thanksPage/thanksPageBanner.png')")
  .thanksPage__content
    img.thanksPage__leftColumn(src="./assets/thanksPage/thanksPageImage.png")
    .thanksPage__rightColumn
      .thanksPage__title Gratulacje! <br/> Trafiłeś właśnie do naszej bazy.
        img.thanksPage__titleImage(src="./assets/thanksPage/titleImage.png")
      .thanksPage__text Odezwiemy się do Ciebie, jak tylko pojawi się odpowiednia oferta pracy.
      .thanksPage__button zamknij   
