.chairMan
    .chairMan__content
            .chairMan__leftBox
                    img.chairMan__photo(src="./assets/chairman/chairman.png")
            .chairMan__rightBox
                    img.chairMan__logo(src="./assets/chairman/logo.png")
                    .chairMan__text Krzysztof Inglot jest Prezesem Personnel Service S.A. Menadżer HR z 20-letnim doświadczeniem zdobytym m.in. w Work Service S.A. Prowadzi projekty restrukturyzacyjne w obszarze zasobów ludzkich dla kluczowych firm w Polsce. Autor wielu komentarzy i wypowiedzi eksperckich w mediach, dotyczących bieżącej sytuacji na rynku pracy. <br/> <br/> W 2013 roku Krzysztof Inglot nabył uprawnienia i kompetencje do pełnienia funkcji Mediatora i Arbitra, a w 2015 roku dołączył do zespołu ekspertów Centrum Badań i Analiz Pracodawców RP.
    .chairMan__name Krzysztof Inglot
