// START NEWS LIST
section.newsList
  .newsList__container
    .newsList__box
      .newsList__item
        include ../newsItem/newsItem
      .newsList__item
        include ../newsItem/newsItemLong
      .newsList__item
        include ../newsItem/newsItem
    .newsList__additionalBox
      img.newsList__img(src="./assets/images/newsList/av.png")
      p Masz pomysł, co powinniśmy zawrzeć w naszej analizie?&nbsp;
        strong Napisz do nas:&nbsp;
        a(href="monika.banys@personnelservice.pl") monika.banys@personnelservice.pl
// END NEWS LIST
