// START NEWS LIST
section.newsList.-column
  .newsList__container
    .newsList__box
      .newsList__item
        include ../newsItem/newsItemRow
      .newsList__item
        include ../newsItem/newsItemRow
      .newsList__item
        include ../newsItem/newsItemRow
// END NEWS LIST