.footerCompanyContact
    img.footerCompanyContact__logo(src="./assets/footer/LOGO_grey.png")
    .footerCompanyContact__text Grupa Kapitałowa Personnel Service SkyTower, ul. Gwiaździsta 66 lokal 2B.06, 53-413 Wrocław

        