.subNavBlackBar
  .subNavBlackBar__container
    ul.subNavBlackBar__subList
      li.nav__subItem.-active
        a.nav__link(href="http://www.wp.pl") Item Item Item
      li.nav__subItem.-active
        a.nav__link(href="#") Item Item Item
      li.nav__subItem
        a.nav__link(href="#") Item Item
      li.nav__subItem
        a.nav__link(href="#") Itemsdads
      li.nav__subItem
        a.nav__link(href="#") Itemaaaaaaaasdadd
      //li.nav__subItem
      //  a.nav__link(href="#") Itemaaaaaaaasdadd
      //li.nav__subItem
      //  a.nav__link(href="#") Itemaaaaaaaasdadd
      //li.nav__subItem
      //  a.nav__link(href="#") Itemaaaaaaaasdadd
