.bannerMain.textWhite
  .bannerMain__image(style=`background-image:url('./assets/images/contact/bannerMain-contact.jpg');`)
  .bannerMain__content.-employeeResponsive
    .bannerMain__leftBox
      .bannerMain__slogan.-noShadow
        span Jak możemy Ci pomóc?
    .bannerMain__rightBox
.positionRelative.responsiveMargins
