.bannerMain.textWhite
  .bannerMain__image(style=`background-image:url('./assets/images/news_page_banner.png');`)
  .bannerMain__content
    .bannerMain__leftBox
      .bannerMain__slogan.-noShadow
        span Bądź zawsze na bieżąco!
    .bannerMain__rightBox
.positionRelative.responsiveMargins
