.bannerMain.withBannerBox.textWhite
  .bannerMain__image(style=`background-image:url('./assets/images/fota_glowna.png');`)
  .bannerMain__content.js-main-box-form
    .bannerMain__leftBox
      .bannerMain__slogan
        |Personnel Service <br>
        span Lider zatrudnienia i rozwiązań HR
    .bannerMain__rightBox.-hiddenOnMobiles
      include ../bannerFormBox/bannerFormBox-credentialsInput
.positionRelative.responsiveMargins
.-hiddenOnDesktops
  .bannerMain__rightBox
    include ../bannerFormBox/bannerFormBox-credentialsInputMobile
