.bannerMain.textWhite
  .bannerMain__image(style=`background-image:url('./assets/images/investor/investor_relationships_banner.jpg');`)
  .bannerMain__content
    .bannerMain__leftBox
      .bannerMain__slogan.-noShadow
        span Relacje inwestorskie
    .bannerMain__rightBox
.positionRelative.responsiveMargins
