// START OUR STORY
section.ourStory
  .ourStory__container
    .ourStory__timeline.-hiddenOnDesktops
    img(src='./assets/images/ourStory/timeline.png').statsTimeLine__timelineImage.-hiddenOnMobiles
