.articleMoreBox
    .articleMoreBox__content
        .articleMoreBox__title Zobacz więcej newsów
        .articleMoreBox__itemBox
            include ../articleMoreItem/articleMoreItem
            include ../articleMoreItem/articleMoreItem
            include ../articleMoreItem/articleMoreItem