ul.footerRegulationMenu
    a(href="#").footerRegulationMenu__item
        li Kontakt
    a(href="#").footerRegulationMenu__item
        li Kontakt
    a(href="#").footerRegulationMenu__item
        li Kontakt
