section.worksTimeLine
    .worksTimeLine__container
        .worksTimeLine__timeline.-hiddenOnDesktops
        img(src='./assets/worksTimeLine/workstimeline.png').statsTimeLine__timelineImage.-hiddenOnMobiles
