
// 1 Variant
.contentPanel(style="background-color: #fff;")
    .contentPanel__content
        .contentPanel__leftBox
                img.contentPanel__photo(src="../assets/contentPanel/contentPanel.png")

        .contentPanel__rightBox
                h1.contentPanel__textHeader(style="color:#444444") Zobacz, co możemy <br> dla Ciebie zrobić <br> <br>
                .contentPanel__text(style="color:#444444") Jeśli szukasz fachowców do rozwijania swojej firmy, my pomożemy Ci znaleźć najlepszych specjalistów i najbardziej doświadczonych kandydatów z różnych branż.
                br
                button.contentPanel__buttonRed więcej

// 2 Variant

.contentPanel(style="background-color: #E4E4E4; box-shadow: inset 0 10px 34px rgba(0, 0, 0, 0.16)")
    .contentPanel__content
        .contentPanel__leftBox
                h1.contentPanel__textHeader(style="color:#444444") Jesteś <br> specjalistą <br> z Polski?


        .contentPanel__rightBox
                .contentPanel__text(style="color:#444444") Chcesz znaleźć nową pracę ale nie wiesz jak wybrać najlepszą <br> ofertę? Skorzystaj z naszej pomocy. Wierzymy, że idealne <br> miejsce pracy jest na wyciągnięcie
                br
                button.contentPanel__buttonRed Zgłoś się


// 3 Variant
.contentPanel(style="background-color: #8D9CA2")
    .contentPanel__content
        .contentPanel__leftBox
                h1.contentPanel__textHeader(style="color:#fff") Poleć nas <br> znajomemu


        .contentPanel__rightBox
                .contentPanel__text(style="color:#fff") Znasz fachowca, który szuka właśnie pracy? Poleć nas! <br> Pomożemy mu znaleźć idealne miejsce pracy, dopasowane <br> do jego potrzeb.
                br
                button.contentPanel__buttonRed CTA


// 4 Variant
.contentPanel(style="background-image:url('https://images.pexels.com/photos/14621/Warsaw-at-night-free-license-CC0.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); background-size: cover")
    .contentPanel__content
        .contentPanel__leftBox
                h1.contentPanel__textHeader(style="color:#fff") Poleć nas <br> znajomemu


        .contentPanel__rightBox
                .contentPanel__text(style="color:#fff") Znasz fachowca, który szuka właśnie pracy? Poleć nas! <br> Pomożemy mu znaleźć idealne miejsce pracy, dopasowane <br> do jego potrzeb.
                br
                button.contentPanel__buttonRed CTA

// 5 Variant
.contentPanel(style="background-color: #F7001B")
    .contentPanel__content
        .contentPanel__leftBox
                h1.contentPanel__textHeader(style="color:#fff") Outplacement


        .contentPanel__rightBox
                .contentPanel__text(style="color:#fff") Krzysztof Inglot jest Prezesem Personnel Service S.A. Menadżer HR z 20-letnim doświadczeniem zdobytym m.in. w Work Service S.A. Prowadzi projekty restrukturyzacyjne w obszarze zasobów ludzkich dla kluczowych firm w Polsce. Autor wielu komentarzy i wypowiedzi eksperckich w mediach, dotyczących bieżącej sytuacji na rynku pracy. <br/> <br/> W 2013 roku Krzysztof Inglot nabył uprawnienia i kompetencje do pełnienia funkcji Mediatora i Arbitra, a w 2015 roku dołączył do zespołu ekspertów Centrum Badań i Analiz Pracodawców RP.

//- .contentPanel(style="background-color: #e4e4e4;  box-shadow: inset 0 10px 34px rgba(0, 0, 0, 0.16)")
//-     .contentPanel__content
//-         .contentPanel__leftBox
//-                 img.contentPanel__photo(src="../assets/contentPanel/contentPanel.png")
//-                 .contentPanel__name(style="color:#ffffff") Krzysztof Inglot
//-         .contentPanel__rightBox
//-                 img.contentPanel__logo(src="../assets/contentPanel/logo.png")
//-                 .contentPanel__text(style="color:#ffffff") Krzysztof Inglot jest Prezesem Personnel Service S.A. Menadżer HR z 20-letnim doświadczeniem zdobytym m.in. w Work Service S.A. Prowadzi projekty restrukturyzacyjne w obszarze zasobów ludzkich dla kluczowych firm w Polsce. Autor wielu komentarzy i wypowiedzi eksperckich w mediach, dotyczących bieżącej sytuacji na rynku pracy. <br/> <br/> W 2013 roku Krzysztof Inglot nabył uprawnienia i kompetencje do pełnienia funkcji Mediatora i Arbitra, a w 2015 roku dołączył do zespołu ekspertów Centrum Badań i Analiz Pracodawców RP.

//- // 4 Variant
//- .contentPanel(style="background-color: #707070")
//-     .contentPanel__content
//-         .contentPanel__leftBox
//-                 img.contentPanel__photo(src="../assets/contentPanel/contentPanel.png")
//-                 .contentPanel__name(style="color:#e4e4e4") Krzysztof Inglot
//-         .contentPanel__rightBox
//-                 img.contentPanel__logo(src="../assets/contentPanel/logo.png")
//-                 .contentPanel__text(style="color:#e4e4e4") Krzysztof Inglot jest Prezesem Personnel Service S.A. Menadżer HR z 20-letnim doświadczeniem zdobytym m.in. w Work Service S.A. Prowadzi projekty restrukturyzacyjne w obszarze zasobów ludzkich dla kluczowych firm w Polsce. Autor wielu komentarzy i wypowiedzi eksperckich w mediach, dotyczących bieżącej sytuacji na rynku pracy. <br/> <br/> W 2013 roku Krzysztof Inglot nabył uprawnienia i kompetencje do pełnienia funkcji Mediatora i Arbitra, a w 2015 roku dołączył do zespołu ekspertów Centrum Badań i Analiz Pracodawców RP.

//- // 5 Variant
//- .contentPanel(style="background-image:url('https://png.pngtree.com/thumb_back/fh260/back_pic/00/04/53/9356248ab92ec6a.jpg'); background-size: cover")
//-     .contentPanel__content
//-         .contentPanel__leftBox
//-                 img.contentPanel__photo(src="../assets/contentPanel/contentPanel.png")
//-                 .contentPanel__name(style="color:#e4e4e4") Krzysztof Inglot
//-         .contentPanel__rightBox
//-                 img.contentPanel__logo(src="../assets/contentPanel/logo.png")
//-                 .contentPanel__text(style="color:#e4e4e4") Krzysztof Inglot jest Prezesem Personnel Service S.A. Menadżer HR z 20-letnim doświadczeniem zdobytym m.in. w Work Service S.A. Prowadzi projekty restrukturyzacyjne w obszarze zasobów ludzkich dla kluczowych firm w Polsce. Autor wielu komentarzy i wypowiedzi eksperckich w mediach, dotyczących bieżącej sytuacji na rynku pracy. <br/> <br/> W 2013 roku Krzysztof Inglot nabył uprawnienia i kompetencje do pełnienia funkcji Mediatora i Arbitra, a w 2015 roku dołączył do zespołu ekspertów Centrum Badań i Analiz Pracodawców RP.

//- // 6 Variant
//- .contentPanel(style="background-color: #F7001B")
//-     .contentPanel__content
//-         .contentPanel__leftBox
//-                 img.contentPanel__photo(src="../assets/contentPanel/contentPanel.png")
//-                 .contentPanel__name(style="color:#fff") Krzysztof Inglot
//-         .contentPanel__rightBox
//-                 img.contentPanel__logo(src="../assets/contentPanel/logo.png")
//-                 .contentPanel__text(style="color:#fff") Krzysztof Inglot jest Prezesem Personnel Service S.A. Menadżer HR z 20-letnim doświadczeniem zdobytym m.in. w Work Service S.A. Prowadzi projekty restrukturyzacyjne w obszarze zasobów ludzkich dla kluczowych firm w Polsce. Autor wielu komentarzy i wypowiedzi eksperckich w mediach, dotyczących bieżącej sytuacji na rynku pracy. <br/> <br/> W 2013 roku Krzysztof Inglot nabył uprawnienia i kompetencje do pełnienia funkcji Mediatora i Arbitra, a w 2015 roku dołączył do zespołu ekspertów Centrum Badań i Analiz Pracodawców RP.
