.contentPanel.bgDarkGray.textWhite#4
    .contentPanel__content
      .contentPanel__leftBox
        h1.contentPanel__textHeader Outsourcing<br> procesów

      .contentPanel__rightBox
        .contentPanel__text To innowacyjne rozwiązanie bazuje na przejęciu
          | odpowiedzialności  za procesy lub funkcje spoza działalności
          | podstawowej naszych klientów. Dla pełnej optymalizacji,
          | wdrażamy ustalone z klientem wskaźniki oraz dobieramy
          | narzędzia i metody. Implementacja takiego modelu współpracy
          | daje możliwość organizacjom na kontrolę kosztów,
          | minimalizację ryzyka i wzrost konkurencyjności.
          | Branże, w  których outsourcing najczęściej jest wdrażany:
          | telekomunikacja, bankowość, finanse, logistyka, HR, IT,
          | produkcja przemysłowa, kadry i płace, marketing i promocja,
          | sprzedaż.
