.contentPanel.bgWhite.textDark
  .contentPanel__content
    .contentPanel__leftBox
      img.contentPanel__photo(src="./assets/images/employeePage/map_pin.jpg")

    .contentPanel__rightBox
      h1.contentPanel__textHeader Znajdziemy pracę<br>dla Ciebie<br>
      .contentPanel__text W Personnel Service wierzymy, że najważniejszą wartością
        |w biznesie są ludzie. Dbamy o to, żebyś znalazł miejsce pracy,
        |w którym będziesz czuł się dobrze, a twoja praca będzie doceniana przez pracodawcę.
