.contentPanel.bgLightGray.shadow.textDark
  .contentPanel__content
    .contentPanel__leftBox
      h1.contentPanel__textHeader Jesteś <br> specjalistą <br> z Polski?

    .contentPanel__rightBox
      .contentPanel__text  Chcesz znaleźć nową pracę ale nie wiesz jak wybrać najlepszą ofertę? Skorzystaj z naszej pomocy. Wierzymy, że idealne miejsce pracy jest na wyciągnięcie ręki.
        |
        br
        br
        a.contentPanel__buttonRed Zgłoś się
        p.additionalButtonInfo i powiedz nam czego potrzebujesz.
