.contentPanel.bgWhite.textDark
  .contentPanel__content
    .contentPanel__leftBox
      h1.contentPanel__textHeader Rekrutacje <br> specjalistów <br> i kadry <br> menadżerskiej

    .contentPanel__rightBox
      .contentPanel__text Jako zewnętrzny dział HR, pozyskujemy dla naszych klientów
        | najlepszych kandydatów o pożądanym doświadczeniu
        | i umiejętnościach. Nasi wielojęzyczni doradcy docierają
        | do konkretnie zdefiniowanego profilu pracowników,
        | spełniających stawiane wymagania.
