.contentPanel.bgDarkGray.textWhite
  .contentPanel__content
    .contentPanel__leftBox
      h1.contentPanel__textHeader Poleć nas <br> znajomemu

    .contentPanel__rightBox
      .contentPanel__text  Znasz fachowca, który właśnie szuka pracy? Poleć nas! Pomożemy mu znaleźć idealne miejsce pracy, dopasowane do jego potrzeb.
        |
        br
        br
        button.contentPanel__buttonRed CTA
