.contentPanel.bgWhite.textDark
  .contentPanel__content.-stretch
    .contentPanel__leftBox
      h1.contentPanel__textHeader.-marginsDesktopBigText Praca tymczasowa

    .contentPanel__rightBox
      .contentPanel__text Jedna z najbardziej elastycznych form zatrudnienia. Pozyskujemy pracowników zgodnie z zapotrzebowaniem, zatrudniamy ich na podstawie ustawy o pracy tymczasowej, a następnie oddelegowujemy do pracy w firmie klienta.
        |
        br
        br
        | Taka forma jest świetnym rozwiązaniem w sytuacjach gdy:
        ul
          li.contentPanel__servicesList istnieje konieczność szybkiego zatrudnienia pracowników ze względu na sezonowość działalności firmy
          li.contentPanel__servicesList firma potrzebuje elastycznego dopasowania liczby pracowników do zmiennych potrzeb w danym momencie działalności
          li.contentPanel__servicesList nie ma możliwości zwiększenia stałego zatrudnienia
          li.contentPanel__servicesList powstała potrzeba zastąpienia pracowników na okres choroby lub długiego urlopu
