.contentPanel.bgWhite.textDark
  .contentPanel__content
    .contentPanel__leftBox
      img.contentPanel__photo(src="./assets/images/aboutUs/values2.jpg")

    .contentPanel__rightBox
      h1.contentPanel__textHeader Nasze wartości <br> <br>
      .contentPanel__text
        p Koncentracja na człowieku
        p.-smallerText Wierzymy, że to właśnie ludzie są największą wartością w biznesie.  
        br
        br
        p Współpraca i niezawodność
        p.-smallerText Oferujemy wsparcie dla pracowników, którzy chcą znaleźć wymarzone miejsce pracy i dla pracodawców, którym zależy na wykwalifikowanej kadrze.
        br
        br
        p Odpowiedzialność społeczna
        p.-smallerText Towarzyszymy pracownikom każdego dnia, dając im wymarzoną pracę i reagując na  pojawiające się trudności. Dbamy też o uczciwe praktyki. Wszyscy nasi pracownicy  są zatrudnieni legalnie.
        br
        br
        p Promocja wysokich standardów zatrudnienia
        p.-smallerText Specjaliści z Polski mogą liczyć na oferty pracy na całym świecie, a kandydaci z zagranicy na uczciwe zatrudnienie w Polsce.
        br
        br
      img(src="./assets/images/aboutUs/tinyPeople-aboutUs-ourValues.jpg").contentPanel__tinyPeopleImage
