.contentPanel.bgDarkGray.textWhite
    .contentPanel__content
      .contentPanel__leftBox
        h1.contentPanel__textHeader Nasza kadra

      .contentPanel__rightBox
        .contentPanel__text W Personnel Service zatrudnionych jest blisko 850  pracowników, wśród których znajduje się wysoko wykwalifikowana kadra o różnorodnych specjalizacjach w zakresie human resources. Atutem Spółki jest rozwinięta sieć oddziałów na najważniejszych rynkach, co pozwala na sprawną rekrutację pracowników z zagranicy.

