.contentPanel.bgWhite.textDark
  .contentPanel__content.-stretch
    .contentPanel__leftBox
      img.contentPanel__photo(src="./assets/images/investor/investor_cloud.jpg")

    .contentPanel__rightBox
      h1.contentPanel__textHeader Pobierz <br> nasze raporty
      .contentPanel__text Już niebawem będziesz mógł zapoznać się z naszymi raportami, gotowymi do pobrania.
      img(src="./assets/images/investor/investorRelationships-reports-tinyPeople.jpg").contentPanel__tinyPeopleImage
