.contentPanel.bgLightGray.textDark#3
    .contentPanel__content
      .contentPanel__leftBox
        h1.contentPanel__textHeader Outsourcing IT

      .contentPanel__rightBox
        .contentPanel__text W łatwy i szybki sposób pozwala obniżyć koszty utrzymania
          | IT i dzięki temu skupić się dużo lepiej na swoim biznesie oraz
          | zwiększyć efektywność kosztową firmy. Odpowiednie usługi
          | i ich optymalizacja zapewniają firmie korzyści takie jak redukcja
          | kosztów, dostęp do najnowszych technologii, doświadczony
          | personel, niższe ryzyko awarii, usługi dopasowane do potrzeb
          | czy zwiększenie konkurencyjności firmy.
