.contentPanel.bgWhite.textDark
  .contentPanel__content
    .contentPanel__leftBox
      img.contentPanel__photo(src="./assets/images/aboutUs/lock.jpg")

    .contentPanel__rightBox
      h1.contentPanel__textHeader.-zIndexTop Jesteśmy zaufanym partnerem <br> <br>
      .contentPanel__text.-zIndexTop
        p Od momentu powstania uczestniczyliśmy w ponad 3 tys.
        | projektów, które realizowaliśmy zarówno dla globalnych spółek, jak i mniejszych firm.
        br
        br
        | Kompleksowo obsługujemy projekty, dostarczając&nbsp;
        span.-colorRed nawet 1,8  tys. osób&nbsp;
        | do jednego zakładu.
        br
        br
        | Dzięki nam pracę znalazło już&nbsp;
        span.-colorRed 50 tys. osób
        | .
      img(src="./assets/images/aboutUs/tiny_people_4.jpg").contentPanel__tinyPeopleImage

