.contentPanel.bgRed.textWhite
  .contentPanel__content.-stretch
    .contentPanel__leftBox.-positionRelative
      //TODO : naprawić to, dać row reverse
      h1.contentPanel__textHeader.-bigTextStaff Władze spółki
      .contentPanel__text.-staffSmallerText
        p W razie jakichkolwiek pytań, prosimy o kontakt:&nbsp;
        a(href="mailto:biuro@personnelservice.pl").-colorInherit biuro@personnelservice.pl
    .contentPanel__rightBox.-directionRow.-justifySpaceBetween
      .contentPanel__chairManBox
        img.contentPanel__photo(src="assets/authorities/authority.jpg")
        h1.contentPanel__chairManName Krzysztof Inglot
        p.contentPanel__chairManFunction Prezes Zarządu
      .contentPanel__chairManBox
        img.contentPanel__photo(src="assets/authorities/authority_2.jpg")
        h1.contentPanel__chairManName Elżbieta Misiak
        p.contentPanel__chairManFunction Wicerezes Zarządu

