.contentPanel.bgWhite.textDark
  .contentPanel__content
    .contentPanel__leftBox
      img.contentPanel__photo(src="./assets/images/aboutUs/hour_glass.jpg")

    .contentPanel__rightBox
      h1.contentPanel__textHeader.-zIndexTopNasza Nasza historia
      br
      br
      .contentPanel__text.-zIndexTop Na początku specjalizowaliśmy się w rekrutacji pracowników z Ukrainy na potrzeby pracodawców w Polsce. I choć nadal to ważna część naszego biznesu, teraz świadczymy kompleksowe usługi w zakresie rekrutacji pracowników.
      img(src="./assets/images/aboutUs/tinyPeople-aboutUs-ourStory.jpg").contentPanel__tinyPeopleImage.-hiddenOnMobiles
