.contentPanel.bgWhite.textDark
  .contentPanel__content.-directionRowReverse
    .contentPanel__leftBox
      img.contentPanel__photo(src="./assets/images/main/people.jpg")

    .contentPanel__rightBox
      h1.contentPanel__textHeader Dla nas liczą się ludzie! <br> <br>
      .contentPanel__text Personnel Service w liczbach.
      img(src="./assets/images/main/tinyPeople-main-people.jpg").contentPanel__tinyPeopleImage
