.contentPanel.bgWhite.textDark
  .contentPanel__content
    .contentPanel__leftBox
      img.contentPanel__photo(src="./assets/images/investor/investor_tree.jpg")

    .contentPanel__rightBox
      h1.contentPanel__textHeader Niezbędnik inwestora <br><br>
      .contentPanel__text Personnel Service S.A. specjalizuje się w rekrutacji i zatrudnianiu pracowników zarówno z zagranicy, jak i z Polski. Współpracujemy z przedsiębiorstwami z wielu sektorów, w tym głównie automotive, RTV/AGD i przemysłu ciężkiego. Za pośrednictwem Personnel Service zatrudnienie w Polsce znalazło już 50 tys. pracowników.
