.contentPanel.bgWhite.textDark
  .contentPanel__content
    .contentPanel__leftBox
      img.contentPanel__photo(src="./assets/images/contact/contact_hands.jpg")

    .contentPanel__rightBox
      h1.contentPanel__textHeader Skontaktuj się z nami <br><br>
      .contentPanel__text Każdego dnia, do Twojej dyspozycji pozostaje zespół zaangażowanych i doświadczonych ekspertów, których nadrzędnym celem jest wsparcie biznesowe obsługiwanych partnerów oraz klientów. Sprawdź naszą ofertę i zobacz jak możemy Ci pomóc.
