.contentPanel.bgWhite.textDark
  .contentPanel__content
    .contentPanel__leftBox
      img.contentPanel__photo(src="./assets/images/main/superman.jpg")

    .contentPanel__rightBox
      h1.contentPanel__textHeader Poznaj branże, <br> dla których pracujemy <br> <br>
      .contentPanel__text Sprawnie zrekrutujemy dla Ciebie kompetentnych pracowników z branży zgodnej z profilem Twojej firmy.
      img(src="./assets/images/main/tinyPeople-main-trades.jpg").contentPanel__tinyPeopleImage
