.contentPanel(style='background-image: url("./assets/images/barometer_image.jpg");').cover.textWhite
  .contentPanel__content
    .contentPanel__leftBox
      h1.contentPanel__textHeader Barometr <br> Imigracji <br> Zarobkowej

    .contentPanel__rightBox
      .contentPanel__text To nasz flagowy projekt, w którym na imigrację zarobkową patrzymy z trzech punktów widzenia: polskiego pracownika, pracodawcy w Polsce oraz ukraińskiego pracownika, który miał doświadczenia pracy w naszym kraju. To jedyne transgraniczne badanie tego typu, w którym zestawiamy polską i ukraińską perspektywę.
        br
        br
        | Od początku realizacji badania naszym partnerem
        | są Pracodawcy RP.

