.contentPanel.bgRed.textWhite#2
  .contentPanel__content
    .contentPanel__leftBox
      h1.contentPanel__textHeader Outplacement

    .contentPanel__rightBox
      .contentPanel__text Dzięki tej usłudze możemy wesprzeć klienta w bezpiecznym
        | przeprowadzeniu procesu zwolnień grupowych, zachowując
        | przy tym jak najlepszy wizerunek wśród pracowników. Proces
        | zwolnień grupowych jest skomplikowaną procedurą, która
        | wymaga gruntownej znajomości prawa pracy. Jego złe
        | przeprowadzenie niesie za sobą bardzo kosztowne i
        | czasochłonne konsekwencje w postaci np. rozpraw sądowych
        | oraz możliwych odszkodowań finansowych.
