.contentPanel(style=`background-image:url('./assets/images/employeePage/background_ukrainian.jpg');background-position: center`).cover.textWhite
  .contentPanel__content
    .contentPanel__leftBox
      h1.contentPanel__textHeader Pабота <br>b Польше

    .contentPanel__rightBox
      .contentPanel__text  Вы ищете работодателя в Польше? Если вы заботитесь о справедливых условияхи привлекательном вознаграждении, свяжитесьс нами. Мы поможем вам найти работу, которуювы хотите.
        br
        br
        button.contentPanel__buttonRed зайти
