.contentPanel.bgDarkGray.textWhite
  .contentPanel__content
    .contentPanel__leftBox
      h1.contentPanel__textHeader Komentarze <br> danych <br> makro- <br> ekonomicznych

    .contentPanel__rightBox
      .contentPanel__text Na bieżąco sprawdzamy najnowsze dane dotyczące rynku pracy, które publikują m.in. Główny Urząd Statystyczny, Eurostat, OECD i pokazujemy Wam nasz punkt widzenia.
