.contentPanel.bgWhite.textDark
    .contentPanel__content.-stretch
      .contentPanel__leftBox
        h1.contentPanel__textHeader.-marginsDesktopBigText Outsourcing pracowniczy

      .contentPanel__rightBox
        .contentPanel__text To główna oś naszej działalności – w ramach usługi, obejmujemy
          | firmowe działy HR pod nasze skrzydła. Oferujemy profesjonalną
          | rekrutację pracowników w krajach Europy Wschodniej i Azji.
          | Proces naboru zawsze prowadzimy przez nasze własne biura,
          | dzięki czemu proces jest transparentny i szybki.
          br
          | Kompleksowo zajmujemy się:
          br
          br
          | Taka forma jest świetnym rozwiązaniem w sytuacjach gdy:
          ul
            li.contentPanel__servicesList legalizacją pracy w Polsce wraz z przedłużeniem terminów dokumentów pobytowych
            li.contentPanel__servicesList tłumaczeniem wszelkich umów, procedur, regulaminów obowiązujących u Klienta
            li.contentPanel__servicesList szkoleniem BHP
            li.contentPanel__servicesList dostarczeniem pracowników zgodnie z wymaganymi kwalifikacjami
            li.contentPanel__servicesList organizacją zakwaterowania i dojazdów do zakładu pracy
            li.contentPanel__servicesList zleceniem badań wymaganych na danym stanowisku
            li.contentPanel__servicesList zapewnieniem odzieży roboczej
            li.contentPanel__servicesList gwarantujemy też na każdym etapie opiekę naszych Konsultantów biegle władających językami: polskim oraz ukraińskim i rosyjskim.







