.contentPanel.bgWhite.textDark#1
  .contentPanel__content.-stretch
    .contentPanel__leftBox
      h1.contentPanel__textHeader.-marginsDesktopBigText Doradztwo HR

    .contentPanel__rightBox
      .contentPanel__text To główna oś naszej działalności – w ramach usługi, obejmujemy
        | Istniejące w firmach rozwiązania HR nie zawsze są wystarczająco
        | skuteczne lub efektywne. W ramach doradztwa, wspieramy
        | organizacje w rozwoju pracowników i procesów, poprzez
        | dostarczanie adekwatnych rozwiązań dostosowanych do potrzeb.
        br
        br
        | Zajmujemy się m.in.:
        ul
          li.contentPanel__servicesList optymalizacją funkcji HR
          li.contentPanel__servicesList zarządzaniem kompetencjami
          li.contentPanel__servicesList diagnozą potencjału i kompetencji
          li.contentPanel__servicesList rozwojem kompetencji
          li.contentPanel__servicesList oceną pracowników i procesów
          li.contentPanel__servicesList zarządzaniem talentami i wynagrodzeniami
          li.contentPanel__servicesList zarządzaniem zaangażowaniem pracowników.







