.contentPanel.bgWhite.textDark
    .contentPanel__content
      .contentPanel__leftBox
        img.contentPanel__photo(src="./assets/images/news_stock.png")

      .contentPanel__rightBox
        h1.contentPanel__textHeader Biuro prasowe <br><br>
        .contentPanel__text Wszystkie informacje prasowe znajdziesz w zakładce News. Po materiały graficzne oraz kontakt dla mediów zapraszamy do zakładki Kontakt dla mediów.
