.contentPanel.bgWhite.textDark
  .contentPanel__content.-directionRowReverse
    .contentPanel__leftBox
      img.contentPanel__photo(src="./assets/images/main/world.jpg")

    .contentPanel__rightBox
      h1.contentPanel__textHeader Posiadamy oddziały na kluczowych rynkach <br> <br>
      .contentPanel__text Oddziały w strategicznych miejscach na świecie pozwalają nam sprawnie przeprowadzać proces rekrutacji. Dzięki temu, naszym klientom skracamy czas oczekiwania na pracownika, a kandydaci mogą liczyć na oferty pracy od firm działających na wielu rynkach.
      img(src="./assets/images/main/tiny_people_world.jpg").contentPanel__tinyPeopleImage
