.contentPanel.bgWhite.textDark
  .contentPanel__content
    .contentPanel__leftBox
      img.contentPanel__photo(src="./assets/images/main/suitcase.jpg")

    .contentPanel__rightBox
      h1.contentPanel__textHeader Zobacz, co możemy <br> dla Ciebie zrobić <br> <br>
      .contentPanel__text Jeśli szukasz fachowców do rozwijania swojej firmy, my pomożemy Ci znaleźć najlepszych specjalistów i najbardziej doświadczonych kandydatów z różnych branż.
      br
      button.-addMarginTop.contentPanel__buttonRed więcej
      img(src="./assets/images/main/tiny_people_suitcase.jpg").contentPanel__tinyPeopleImage
