.contentPanel.bgWhite.textDark
  .contentPanel__content
    .contentPanel__leftBox
      h1.contentPanel__textHeader Barometr Polskiego Rynku Pracy

    .contentPanel__rightBox
      .contentPanel__text W tym raporcie skupiamy się na rynku pracy – potrzebach pracodawców, oczekiwaniach pracowników i najważniejszych zjawiskach, które dzieją się na rynku pracy w danym momencie.
        |
        br
        br
        | Jako eksperci, analizujmy aktualne zjawiska z punktu widzenia zjawisk makroekonomicznych.
        br
        br
      .contentPanel__downloadLinkBox
        div(style="background-image: url('./assets/images/pdf_icon.svg')").contentPanel__downloadIcon
        .contentPanel__downloadLinkContent
          a(href="/").-colorRed Barometr Polskiego Rynku Pracy
          br
          | Barometr Polskiego Rynku Pracy.pdf (9,83 MB)
