.contentPanel.bgWhite.textDark
  .contentPanel__content
    .contentPanel__leftBox
      img.contentPanel__photo(src="./assets/images/aboutUs/looking_glass.jpg")

    .contentPanel__rightBox
      h1.contentPanel__textHeader.-zIndexTop Szukasz pracowników z zagranicy, a może zależy Ci na specjalistach z Polski? Dobrze trafiłeś!  <br> <br>
      .contentPanel__text.textDark.-zIndexTop Personnel Service od 10 lat specjalizuje się w kompleksowej rekrutacji pracowników dla przedsiębiorstw w Polsce. Dzięki naszej profesjonalnej obsłudze zyskujesz kadrę dopasowaną do Twoich wymagań oraz oszczędzasz swój czas. Zapewniamy pełne wsparcie i zajmujemy się wszystkimi formalnościami.
      br
      img(src="./assets/images/aboutUs/tiny_people_4.jpg").contentPanel__tinyPeopleImage.contentPanel__photo.-hiddenOnMobiles

