li.footerMenuCategory
    .footerMenuCategory__titleBox
        i.footerMenuCategory__icon.fa.fa-caret-right
        p Dla pracodawcy
    ul.footerMenuCategory__secondLevelMenu
        li.footerMenuCategory__menuCategoryItem 
            a(href="#") Praca tymczasowa
        li.footerMenuCategory__menuCategoryItem 
            a(href="#") Praca tymczasowa
        li.footerMenuCategory__menuCategoryItem 
            a(href="#") Praca tymczasowa
        li.footerMenuCategory__menuCategoryItem 
            a(href="#") Praca tymczasowa