.bannerFormBox
  .bannerFormBox__content
    .bannerFormBox__upperText
      p.bannerFormBox__blackText Twoje dane zostały zapisane.&nbsp;
        |
        span.bannerFormBox__upperText.-redText Skontaktujemy się z Tobą.
        br
        br
        | Dziękujemy!
