.bannerFormBox.silhouetteBox.-employee
  .bannerFormBox__content
    .bannerFormBox__imageBox
      .bannerFormBox__imageBoxImage
        img(src="./assets/images/workport.png").-silhouette
      .bannerFormBox__imageBoxText.bannerFormBox__upperText
        .bannerFormBox__employeeUpperText
          .bannerFormBox__workportLogoBox
            div
              p Poznaj
            .bannerFormBox__workportLogoimage
              img(src="./assets/images/workport_logo.png")
          p
            | Uzyskaj&nbsp;
            span bezpłatny dostęp do setek ofert pracy&nbsp;
            | od zaufanych pracodawców w całej Polsce.
          .bannerFormBox__silhouetteSmallText
            p
              span Pobierz aplikację Workport,&nbsp;
              | załóż swój profil i kontaktuj się z pracodawcami.
  .bannerFormBox__grayArea
    .bannerFormBox__qrCodeBox
      .bannerFormBox__qrLeftBox.-hiddenOnMobiles
        img(src="./assets/images/employeePage/code_google.svg").bannerFormBox__qrCode.-hiddenOnMobiles
      .bannerFormBox__qrRightBox.-hiddenOnMobiles
        p.bannerFormBox__qrParagraph Zeskanuj kod QR&nbsp;
          | i przejdź do
          | Google Play Store
        a(href="#")
          img(src="./assets/images/employeePage/getit_GP.svg").bannerFormBox__storeButton
      p.bannerFormBox__appShopLabel.-hiddenOnDesktops Przejdź do Google Play
      a(href="#").bannerFormBox__mobileLink
        img(src="./assets/images/employeePage/getit_GP.svg").bannerFormBox__imageMarketMobile.-hiddenOnDesktops
    .bannerFormBox__qrCodeBox
      .bannerFormBox__qrLeftBox.-hiddenOnMobiles
        img(src="./assets/images/employeePage/code_apple.svg").bannerFormBox__qrCode
      .bannerFormBox__qrRightBox.-hiddenOnMobiles
        p.bannerFormBox__qrParagraph Zeskanuj kod QR&nbsp;
          | i przejdź do
          | Apple Store
        a(href="#")
          img(src="./assets/images/employeePage/getit_apple.svg").bannerFormBox__storeButton
      p.bannerFormBox__appShopLabel.-hiddenOnDesktops Przejdź do Apple Store
      a(href="#").bannerFormBox__mobileLink
        img(src="./assets/images/employeePage/getit_apple.svg").bannerFormBox__imageMarketMobile.-hiddenOnDesktops
