.bannerFormBox
  .bannerFormBox__agreementsMobileOverlay
    .bannerFormBox__agreementsBox
      .bannerFormBox__modalContainer
        .bannerFormBox__agreementUpperText.textDark
          | Pełna treść zgody.<br>
          span.-redText Przeczytaj uważnie.
        .bannerFormBox__agreementText
          | Zgadzam się na otrzymywanie informacji o ofertach pracy personnel service sp.z o.o. z siedzibą w Kętrzynie,
          | na podany adres e-mail (a w przypadku udostępnienia powyżej numeru telefonu - także w formie wiadomości SMS)
          | - zgodnie z Polityką Prywatności.
        .bannerFormBox__agreementButtonAndCheckbox
          .bannerFormBox__agreementItem
            label.bannerFormBox__agreementCheckboxContainer
              span.bannerFormBox__checkboxLabel Zgadzam się
              input(type='checkbox' name='agreement').bannerFormBox__checkboxInput.agreement
              span.bannerFormBox__checkmark
              .bannerFormBox__info.checkmarkBox
                span Potrzebujemy Twojej zgody
          .bannerFormBox__agreementItem
            button#closeMobileModal.bannerFormBox__buttonRed zamknij
  .bannerFormBox__content
    .bannerFormBox__upperText
      p Na twoją ofertę czeka ponad
      span.bannerFormBox__upperText.-redText XXX XXX kandydatów!
    .bannerFormBox__thinText
      p Wpisz swój adres e-mail oraz telefon, aby rekruter Personnel Service mógł się z Tobą skontaktować i przedstawić Twoją listę kandydatów.
    form(action='#' name="recruitmentInfoMobile" id="recruitmentInfoMobile")
      .bannerFormBox__inputSection
        .bannerFormBox__item
          input(placeholder="Wpisz swój adres e-mail" name='email').bannerFormBox__boxInput
          .bannerFormBox__info
            span Wpisz poprawny adres e-mail
        .bannerFormBox__item
          input(placeholder="Wpisz swój numer telefonu" name='phone').bannerFormBox__boxInput
          .bannerFormBox__info
            span Wpisz poprawny numer telefonu
        label.bannerFormBox__checkboxContainer
          span.bannerFormBox__checkboxLabel Zgadzam się na otrzymywanie informacji o ofertach pracy...&nbsp;
          span.bannerFormBox__agreementMobileLink
            | (
            a(href='#') Pełna treść zgody
            | )
          input(type='checkbox' name='agreement').bannerFormBox__checkboxInput.agreement
          span.bannerFormBox__checkmark
          .bannerFormBox__info.checkmarkBox
            span Potrzebujemy Twojej zgody
      .bannerFormBox__buttonContainer
        .bannerFormBox__buttonBoxLeft
          a(href='#').bannerFormBox__goBackLink Cofnij żeby zmienić kryteria
        .bannerFormBox__buttonBoxRight
          button(type='submit').bannerFormBox__buttonRed wyślij

