// START NAV
nav.nav
  ul.nav__list
    li.nav__item.-active
      a.nav__link.-active(href="#") Dla pracodawcy
      //ul.nav__subList
      //  li.nav__subItem.-active
      //    a.nav__link(href="#") Item Item Item
      //  li.nav__subItem.-active
      //    a.nav__link(href="#") Item Item Item
      //  li.nav__subItem
      //    a.nav__link(href="#") Item Item
      //  li.nav__subItem
      //    a.nav__link(href="#") Itemsdads
      //  li.nav__subItem
      //    a.nav__link(href="#") Itemaaaaaaaasdadd
      //  li.nav__subItem
      //    a.nav__link(href="#") Itemaaaaaaaasdadd
    li.nav__item.-red
      a.nav__link.-red(href="#") Dla pracownika
    li.nav__item
      a.nav__link(href="#") O nas
    li.nav__item
      a.nav__link(href="#") Relacje inwestorskie
    li.nav__item
      a.nav__link(href="#") Aktualności
    li.nav__item
      a.nav__link(href="#") Kontakt
// END NAV
