.articleBackBox
    .articleBackBox__content
      a.articleBackBox__container(href="#")
        .articleBackBox__iconBox
          i.articleBackBox__icon.fa.fa-caret-left
        .articleBackBox__text Powrót do listy Newsów
      ul.articleBackBox__nav
        li.articleBackBox__item.-active
          a.articleBackBox__link(href="#1") Item 1 adwdad
        li.articleBackBox__item
          a.articleBackBox__link(href="#2") Item 1dawdadwd
        li.articleBackBox__item
          a.articleBackBox__link(href="#3") Item 1
        li.articleBackBox__item
          a.articleBackBox__link(href="#4") Item 1dawadawdwadadadad
        li.articleBackBox__item
          a.articleBackBox__link(href="#5") Item 1dadadadada
        li.articleBackBox__item
          a.articleBackBox__link(href="#") Item 1adadadadadw
        li.articleBackBox__item
          a.articleBackBox__link(href="#") Item 1adadadadadw
        li.articleBackBox__item
          a.articleBackBox__link(href="#") Item 1adadadadadw
