.articleMoreItem
    img.articleMoreItem__image(src="./assets/articlePage/moreArticleImage.png")
    .articleMoreItem__title To szalenie długi, jeśli nie najdłuższy, trzywierszowy tytuł newsa.
    .articleMoreItem__date 10.12.2020