.footerSocialMedia
    a.footerSocialMedia__item(href="#")
        i.footerSocialMedia__icon.fa.fa-facebook-f
    a.footerSocialMedia__item(href="#")
        i.footerSocialMedia__icon.fa.fa-facebook-f
    a.footerSocialMedia__item(href="#")
        i.footerSocialMedia__icon.fa.fa-facebook-f
